{
  "openapi": "3.0.3",
  "info": {
    "title": "Varify.io API Documentation",
    "description": "The Varify.io Public API allows you to programmatically manage A/B testing experiments, retrieve analytics reports, and integrate Varify with your existing workflows.\n\n**Base URL:** `https://app.varify.io/papi` | **Rate Limit:** 60 requests/minute\n\n⚠️ **To get started**, see the **Authentication** section below to obtain an access token.\n\n**Need Help?** Contact us at support@varify.io",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.varify.io"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints for obtaining and managing API access tokens."
    },
    {
      "name": "Clients",
      "description": "Manage clients within your agency"
    },
    {
      "name": "Experiments",
      "description": "Manage A/B testing experiments"
    },
    {
      "name": "Reports",
      "description": "Retrieve experiment analytics and reports"
    },
    {
      "name": "Schema",
      "description": "JSON Schema definitions for complex request fields"
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use the **Authentication → Get Access Token** endpoint to obtain your bearer token."
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Get Access Token",
        "operationId": "getAccessToken",
        "description": "Exchange your Client ID and Client Secret for an Access Token using OAuth 2.0 Client Credentials flow.\n\n**Important:** You must use this endpoint first before calling any other API endpoints. The Client ID and Client Secret cannot be used directly for API authentication.\n\nThe returned `access_token` should be included in the `Authorization` header of all subsequent API requests.\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully obtained access token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "token_type": "Bearer",
                    "expires_in": 31536000,
                    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTFhMmIzYy00ZDVlLTZmN2EtOGI5Yy0wZDFlMmYzYTRiNWMiLCJqdGkiOiJhYmMxMjM0NTY3ODkwIiwiaWF0IjoxNzAyNjQwMDAwLCJuYmYiOjE3MDI2NDAwMDAsImV4cCI6MTczNDE3NjAwMCwic3ViIjoiIiwic2NvcGVzIjpbIioiXX0.example_signature"
                  },
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token. Always `Bearer`.",
                      "enum": []
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 31536000,
                      "description": "Token validity duration in seconds (default 1 year).",
                      "enum": []
                    },
                    "access_token": {
                      "type": "string",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTFhMmIzYy00ZDVlLTZmN2EtOGI5Yy0wZDFlMmYzYTRiNWMiLCJqdGkiOiJhYmMxMjM0NTY3ODkwIiwiaWF0IjoxNzAyNjQwMDAwLCJuYmYiOjE3MDI2NDAwMDAsImV4cCI6MTczNDE3NjAwMCwic3ViIjoiIiwic2NvcGVzIjpbIioiXX0.example_signature",
                      "description": "The JWT access token to use in the Authorization header.",
                      "enum": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": "invalid_client",
                    "error_description": "Client authentication failed",
                    "message": "Client authentication failed"
                  },
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_client"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Client authentication failed"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "The OAuth grant type. Must be `client_credentials`.",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your API Client ID from Team Settings → API Keys.",
                    "example": "9e1a2b3c-4d5e-6f7a-8b9c-0d1e2f3a4b5c"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your API Client Secret (shown only once when created).",
                    "example": "your-client-secret"
                  },
                  "scope": {
                    "type": "string",
                    "description": "The scope of access. Use `*` for full access, or specific scopes like `client:index, experiment:index, experiment:show, experiment:create, experiment:update, experiment:report`.",
                    "example": "*"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/papi/clients": {
      "get": {
        "summary": "List all clients",
        "operationId": "listAllClients",
        "description": "Returns a paginated list of all clients belonging to your agency.\n\n**Required scope:** `client:index`\n\n**Note:** This endpoint is only available for agency accounts.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": null,
                        "email": null,
                        "bigquery_dataset_id": null,
                        "bigquery_integration_enabled": null,
                        "bigquery_project_id": null,
                        "billing_address": null,
                        "billing_address_line_2": null,
                        "billing_city": null,
                        "billing_country": null,
                        "billing_state": null,
                        "billing_zip": null,
                        "card_country": null,
                        "consent": null,
                        "created_at": null,
                        "current_billing_plan": null,
                        "data_save_mode": null,
                        "domain": null,
                        "experiments_count": null,
                        "extra_billing_information": null,
                        "ga4_account_id": null,
                        "ga4_dimension_id": null,
                        "ga4_integration_enabled": null,
                        "ga4_property_id": null,
                        "google_access_token": null,
                        "google_consent_mode": null,
                        "invitations_count": null,
                        "local_invoices_count": null,
                        "name": null,
                        "notifications_count": null,
                        "owner_id": null,
                        "photo_url": "https://www.gravatar.com/avatar/7a4f002df06e898d6aec780c6dd32417.jpg?s=200&d=identicon",
                        "pm_last_four": null,
                        "pm_type": null,
                        "read_notifications_count": null,
                        "should_exclude_duplicate_user_events": null,
                        "should_exclude_empty_purchases": null,
                        "should_exclude_multi_variant_users": null,
                        "slug": null,
                        "stripe_id": null,
                        "subscriptions_count": null,
                        "team_id": null,
                        "tokens_count": null,
                        "total_potential_users_count": null,
                        "tracking": null,
                        "trial_ends_at": null,
                        "type": null,
                        "unread_notifications_count": null,
                        "updated_at": null,
                        "users_count": null,
                        "vat_id": null
                      },
                      {
                        "id": null,
                        "email": null,
                        "bigquery_dataset_id": null,
                        "bigquery_integration_enabled": null,
                        "bigquery_project_id": null,
                        "billing_address": null,
                        "billing_address_line_2": null,
                        "billing_city": null,
                        "billing_country": null,
                        "billing_state": null,
                        "billing_zip": null,
                        "card_country": null,
                        "consent": null,
                        "created_at": null,
                        "current_billing_plan": null,
                        "data_save_mode": null,
                        "domain": null,
                        "experiments_count": null,
                        "extra_billing_information": null,
                        "ga4_account_id": null,
                        "ga4_dimension_id": null,
                        "ga4_integration_enabled": null,
                        "ga4_property_id": null,
                        "google_access_token": null,
                        "google_consent_mode": null,
                        "invitations_count": null,
                        "local_invoices_count": null,
                        "name": null,
                        "notifications_count": null,
                        "owner_id": null,
                        "photo_url": "https://www.gravatar.com/avatar/7a4f002df06e898d6aec780c6dd32417.jpg?s=200&d=identicon",
                        "pm_last_four": null,
                        "pm_type": null,
                        "read_notifications_count": null,
                        "should_exclude_duplicate_user_events": null,
                        "should_exclude_empty_purchases": null,
                        "should_exclude_multi_variant_users": null,
                        "slug": null,
                        "stripe_id": null,
                        "subscriptions_count": null,
                        "team_id": null,
                        "tokens_count": null,
                        "total_potential_users_count": null,
                        "tracking": null,
                        "trial_ends_at": null,
                        "type": null,
                        "unread_notifications_count": null,
                        "updated_at": null,
                        "users_count": null,
                        "vat_id": null
                      }
                    ],
                    "links": {
                      "first": "/?page=1",
                      "last": "/?page=1",
                      "prev": null,
                      "next": null
                    },
                    "meta": {
                      "current_page": 1,
                      "from": 1,
                      "last_page": 1,
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "/?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "path": "/",
                      "per_page": 15,
                      "to": 2,
                      "total": 2
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": null,
                          "email": null,
                          "bigquery_dataset_id": null,
                          "bigquery_integration_enabled": null,
                          "bigquery_project_id": null,
                          "billing_address": null,
                          "billing_address_line_2": null,
                          "billing_city": null,
                          "billing_country": null,
                          "billing_state": null,
                          "billing_zip": null,
                          "card_country": null,
                          "consent": null,
                          "created_at": null,
                          "current_billing_plan": null,
                          "data_save_mode": null,
                          "domain": null,
                          "experiments_count": null,
                          "extra_billing_information": null,
                          "ga4_account_id": null,
                          "ga4_dimension_id": null,
                          "ga4_integration_enabled": null,
                          "ga4_property_id": null,
                          "google_access_token": null,
                          "google_consent_mode": null,
                          "invitations_count": null,
                          "local_invoices_count": null,
                          "name": null,
                          "notifications_count": null,
                          "owner_id": null,
                          "photo_url": "https://www.gravatar.com/avatar/7a4f002df06e898d6aec780c6dd32417.jpg?s=200&d=identicon",
                          "pm_last_four": null,
                          "pm_type": null,
                          "read_notifications_count": null,
                          "should_exclude_duplicate_user_events": null,
                          "should_exclude_empty_purchases": null,
                          "should_exclude_multi_variant_users": null,
                          "slug": null,
                          "stripe_id": null,
                          "subscriptions_count": null,
                          "team_id": null,
                          "tokens_count": null,
                          "total_potential_users_count": null,
                          "tracking": null,
                          "trial_ends_at": null,
                          "type": null,
                          "unread_notifications_count": null,
                          "updated_at": null,
                          "users_count": null,
                          "vat_id": null
                        },
                        {
                          "id": null,
                          "email": null,
                          "bigquery_dataset_id": null,
                          "bigquery_integration_enabled": null,
                          "bigquery_project_id": null,
                          "billing_address": null,
                          "billing_address_line_2": null,
                          "billing_city": null,
                          "billing_country": null,
                          "billing_state": null,
                          "billing_zip": null,
                          "card_country": null,
                          "consent": null,
                          "created_at": null,
                          "current_billing_plan": null,
                          "data_save_mode": null,
                          "domain": null,
                          "experiments_count": null,
                          "extra_billing_information": null,
                          "ga4_account_id": null,
                          "ga4_dimension_id": null,
                          "ga4_integration_enabled": null,
                          "ga4_property_id": null,
                          "google_access_token": null,
                          "google_consent_mode": null,
                          "invitations_count": null,
                          "local_invoices_count": null,
                          "name": null,
                          "notifications_count": null,
                          "owner_id": null,
                          "photo_url": "https://www.gravatar.com/avatar/7a4f002df06e898d6aec780c6dd32417.jpg?s=200&d=identicon",
                          "pm_last_four": null,
                          "pm_type": null,
                          "read_notifications_count": null,
                          "should_exclude_duplicate_user_events": null,
                          "should_exclude_empty_purchases": null,
                          "should_exclude_multi_variant_users": null,
                          "slug": null,
                          "stripe_id": null,
                          "subscriptions_count": null,
                          "team_id": null,
                          "tokens_count": null,
                          "total_potential_users_count": null,
                          "tracking": null,
                          "trial_ends_at": null,
                          "type": null,
                          "unread_notifications_count": null,
                          "updated_at": null,
                          "users_count": null,
                          "vat_id": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": null
                          },
                          "email": {
                            "type": "string",
                            "example": null
                          },
                          "bigquery_dataset_id": {
                            "type": "string",
                            "example": null
                          },
                          "bigquery_integration_enabled": {
                            "type": "string",
                            "example": null
                          },
                          "bigquery_project_id": {
                            "type": "string",
                            "example": null
                          },
                          "billing_address": {
                            "type": "string",
                            "example": null
                          },
                          "billing_address_line_2": {
                            "type": "string",
                            "example": null
                          },
                          "billing_city": {
                            "type": "string",
                            "example": null
                          },
                          "billing_country": {
                            "type": "string",
                            "example": null
                          },
                          "billing_state": {
                            "type": "string",
                            "example": null
                          },
                          "billing_zip": {
                            "type": "string",
                            "example": null
                          },
                          "card_country": {
                            "type": "string",
                            "example": null
                          },
                          "consent": {
                            "type": "string",
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "example": null
                          },
                          "current_billing_plan": {
                            "type": "string",
                            "example": null
                          },
                          "data_save_mode": {
                            "type": "string",
                            "example": null
                          },
                          "domain": {
                            "type": "string",
                            "example": null
                          },
                          "experiments_count": {
                            "type": "string",
                            "example": null
                          },
                          "extra_billing_information": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_account_id": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_dimension_id": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_integration_enabled": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_property_id": {
                            "type": "string",
                            "example": null
                          },
                          "google_access_token": {
                            "type": "string",
                            "example": null
                          },
                          "google_consent_mode": {
                            "type": "string",
                            "example": null
                          },
                          "invitations_count": {
                            "type": "string",
                            "example": null
                          },
                          "local_invoices_count": {
                            "type": "string",
                            "example": null
                          },
                          "name": {
                            "type": "string",
                            "example": null
                          },
                          "notifications_count": {
                            "type": "string",
                            "example": null
                          },
                          "owner_id": {
                            "type": "string",
                            "example": null
                          },
                          "photo_url": {
                            "type": "string",
                            "example": "https://www.gravatar.com/avatar/7a4f002df06e898d6aec780c6dd32417.jpg?s=200&d=identicon"
                          },
                          "pm_last_four": {
                            "type": "string",
                            "example": null
                          },
                          "pm_type": {
                            "type": "string",
                            "example": null
                          },
                          "read_notifications_count": {
                            "type": "string",
                            "example": null
                          },
                          "should_exclude_duplicate_user_events": {
                            "type": "string",
                            "example": null
                          },
                          "should_exclude_empty_purchases": {
                            "type": "string",
                            "example": null
                          },
                          "should_exclude_multi_variant_users": {
                            "type": "string",
                            "example": null
                          },
                          "slug": {
                            "type": "string",
                            "example": null
                          },
                          "stripe_id": {
                            "type": "string",
                            "example": null
                          },
                          "subscriptions_count": {
                            "type": "string",
                            "example": null
                          },
                          "team_id": {
                            "type": "string",
                            "example": null
                          },
                          "tokens_count": {
                            "type": "string",
                            "example": null
                          },
                          "total_potential_users_count": {
                            "type": "string",
                            "example": null
                          },
                          "tracking": {
                            "type": "string",
                            "example": null
                          },
                          "trial_ends_at": {
                            "type": "string",
                            "example": null
                          },
                          "type": {
                            "type": "string",
                            "example": null
                          },
                          "unread_notifications_count": {
                            "type": "string",
                            "example": null
                          },
                          "updated_at": {
                            "type": "string",
                            "example": null
                          },
                          "users_count": {
                            "type": "string",
                            "example": null
                          },
                          "vat_id": {
                            "type": "string",
                            "example": null
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "prev": {
                          "type": "string",
                          "example": null
                        },
                        "next": {
                          "type": "string",
                          "example": null
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "links": {
                          "type": "array",
                          "example": [
                            {
                              "url": null,
                              "label": "&laquo; Previous",
                              "active": false
                            },
                            {
                              "url": "/?page=1",
                              "label": "1",
                              "active": true
                            },
                            {
                              "url": null,
                              "label": "Next &raquo;",
                              "active": false
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "example": null
                              },
                              "label": {
                                "type": "string",
                                "example": "&laquo; Previous"
                              },
                              "active": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "/"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "to": {
                          "type": "integer",
                          "example": 2
                        },
                        "total": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthenticated."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "This action is unauthorized."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This action is unauthorized."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ]
      }
    },
    "/papi/experiments": {
      "get": {
        "summary": "List experiments",
        "operationId": "listExperiments",
        "description": "Returns a paginated list of experiments for the specified client.\n\n**Required scope:** `experiment:index`",
        "parameters": [
          {
            "in": "query",
            "name": "page_id",
            "description": "Page number for pagination",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number for pagination",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "example": 15,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of items per page",
              "example": 15
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Field to order by",
            "example": "created_at",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Field to order by",
              "example": "created_at"
            }
          },
          {
            "in": "query",
            "name": "order_direction",
            "description": "Order direction",
            "example": "desc",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Order direction",
              "example": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter_by_status",
            "description": "Filter by status",
            "example": "active",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by status",
              "example": "active"
            }
          },
          {
            "in": "query",
            "name": "filter_by_name",
            "description": "Filter by name (partial match)",
            "example": "architecto",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter by name (partial match)",
              "example": "architecto"
            }
          },
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": null,
                        "name": null,
                        "big_query_events_count": null,
                        "bigquery_report": null,
                        "bigquery_report_updated_at": null,
                        "cached_reports_count": null,
                        "created_at": null,
                        "ga4_audience_id": null,
                        "ga4_events_count": null,
                        "ga4_metrics_count": null,
                        "ga4_report": null,
                        "ga4_report_updated_at": null,
                        "url": null,
                        "slug": "",
                        "started_at": null,
                        "scheduled_start_date": null,
                        "scheduled_end_date": null,
                        "status": null,
                        "tracking_enabled": null,
                        "updated_at": null,
                        "variations_count": null
                      },
                      {
                        "id": null,
                        "name": null,
                        "big_query_events_count": null,
                        "bigquery_report": null,
                        "bigquery_report_updated_at": null,
                        "cached_reports_count": null,
                        "created_at": null,
                        "ga4_audience_id": null,
                        "ga4_events_count": null,
                        "ga4_metrics_count": null,
                        "ga4_report": null,
                        "ga4_report_updated_at": null,
                        "url": null,
                        "slug": "",
                        "started_at": null,
                        "scheduled_start_date": null,
                        "scheduled_end_date": null,
                        "status": null,
                        "tracking_enabled": null,
                        "updated_at": null,
                        "variations_count": null
                      }
                    ],
                    "links": {
                      "first": "/?page=1",
                      "last": "/?page=1",
                      "prev": null,
                      "next": null
                    },
                    "meta": {
                      "current_page": 1,
                      "from": 1,
                      "last_page": 1,
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "/?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "path": "/",
                      "per_page": 15,
                      "to": 2,
                      "total": 2
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": null,
                          "name": null,
                          "big_query_events_count": null,
                          "bigquery_report": null,
                          "bigquery_report_updated_at": null,
                          "cached_reports_count": null,
                          "created_at": null,
                          "ga4_audience_id": null,
                          "ga4_events_count": null,
                          "ga4_metrics_count": null,
                          "ga4_report": null,
                          "ga4_report_updated_at": null,
                          "url": null,
                          "slug": "",
                          "started_at": null,
                          "scheduled_start_date": null,
                          "scheduled_end_date": null,
                          "status": null,
                          "tracking_enabled": null,
                          "updated_at": null,
                          "variations_count": null
                        },
                        {
                          "id": null,
                          "name": null,
                          "big_query_events_count": null,
                          "bigquery_report": null,
                          "bigquery_report_updated_at": null,
                          "cached_reports_count": null,
                          "created_at": null,
                          "ga4_audience_id": null,
                          "ga4_events_count": null,
                          "ga4_metrics_count": null,
                          "ga4_report": null,
                          "ga4_report_updated_at": null,
                          "url": null,
                          "slug": "",
                          "started_at": null,
                          "scheduled_start_date": null,
                          "scheduled_end_date": null,
                          "status": null,
                          "tracking_enabled": null,
                          "updated_at": null,
                          "variations_count": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": null
                          },
                          "name": {
                            "type": "string",
                            "example": null
                          },
                          "big_query_events_count": {
                            "type": "string",
                            "example": null
                          },
                          "bigquery_report": {
                            "type": "string",
                            "example": null
                          },
                          "bigquery_report_updated_at": {
                            "type": "string",
                            "example": null
                          },
                          "cached_reports_count": {
                            "type": "string",
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_audience_id": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_events_count": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_metrics_count": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_report": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_report_updated_at": {
                            "type": "string",
                            "example": null
                          },
                          "url": {
                            "type": "string",
                            "example": null
                          },
                          "slug": {
                            "type": "string",
                            "example": ""
                          },
                          "started_at": {
                            "type": "string",
                            "example": null
                          },
                          "scheduled_start_date": {
                            "type": "string",
                            "example": null
                          },
                          "scheduled_end_date": {
                            "type": "string",
                            "example": null
                          },
                          "status": {
                            "type": "string",
                            "example": null
                          },
                          "tracking_enabled": {
                            "type": "string",
                            "example": null
                          },
                          "updated_at": {
                            "type": "string",
                            "example": null
                          },
                          "variations_count": {
                            "type": "string",
                            "example": null
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "/?page=1"
                        },
                        "prev": {
                          "type": "string",
                          "example": null
                        },
                        "next": {
                          "type": "string",
                          "example": null
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "links": {
                          "type": "array",
                          "example": [
                            {
                              "url": null,
                              "label": "&laquo; Previous",
                              "active": false
                            },
                            {
                              "url": "/?page=1",
                              "label": "1",
                              "active": true
                            },
                            {
                              "url": null,
                              "label": "Next &raquo;",
                              "active": false
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "example": null
                              },
                              "label": {
                                "type": "string",
                                "example": "&laquo; Previous"
                              },
                              "active": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "/"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "to": {
                          "type": "integer",
                          "example": 2
                        },
                        "total": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ]
      },
      "post": {
        "summary": "Create experiment",
        "operationId": "createExperiment",
        "description": "Creates a new A/B testing experiment with the specified configuration.\n\n**Required scope:** `experiment:create`\n\nThe experiment will be created in **draft** status. Use the \"Update experiment status\" endpoint to activate it.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": null,
                      "name": null,
                      "big_query_events_count": null,
                      "bigquery_report": null,
                      "bigquery_report_updated_at": null,
                      "cached_reports_count": null,
                      "created_at": null,
                      "ga4_audience_id": null,
                      "ga4_events_count": null,
                      "ga4_metrics_count": null,
                      "ga4_report": null,
                      "ga4_report_updated_at": null,
                      "url": null,
                      "slug": "",
                      "started_at": null,
                      "scheduled_start_date": null,
                      "scheduled_end_date": null,
                      "status": null,
                      "tracking_enabled": null,
                      "updated_at": null,
                      "variations_count": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": null
                        },
                        "big_query_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "cached_reports_count": {
                          "type": "string",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_audience_id": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_metrics_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "url": {
                          "type": "string",
                          "example": null
                        },
                        "slug": {
                          "type": "string",
                          "example": ""
                        },
                        "started_at": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_start_date": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_end_date": {
                          "type": "string",
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": null
                        },
                        "tracking_enabled": {
                          "type": "string",
                          "example": null
                        },
                        "updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "variations_count": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthenticated."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "This action is unauthorized."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This action is unauthorized."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the experiment",
                    "example": "Homepage Hero Test"
                  },
                  "page": {
                    "type": "object",
                    "description": "Page configuration",
                    "example": [],
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "URL of the page where experiment runs",
                        "example": "http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html"
                      },
                      "name": {
                        "type": "string",
                        "description": "Optional name for the page",
                        "example": "Homepage"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "tracking_enabled": {
                    "type": "boolean",
                    "description": "Whether to enable tracking",
                    "example": true
                  },
                  "ga4_audience_id": {
                    "type": "string",
                    "description": "GA4 audience ID for targeting",
                    "example": "architecto"
                  },
                  "variations": {
                    "type": "array",
                    "description": "Array of experiment variations",
                    "example": [
                      []
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the variation",
                          "example": "Control"
                        },
                        "traffic_allocation": {
                          "type": "integer",
                          "description": "Traffic percentage (0-100)",
                          "example": 50
                        },
                        "javascript": {
                          "type": "string",
                          "description": "JavaScript code for this variation",
                          "example": "architecto"
                        },
                        "css": {
                          "type": "string",
                          "description": "CSS styles for this variation",
                          "example": "architecto"
                        }
                      },
                      "required": [
                        "name",
                        "traffic_allocation",
                        "javascript",
                        "css"
                      ]
                    }
                  },
                  "audience_targeting": {
                    "type": "array",
                    "description": "Audience targeting rules. See `GET /schema/audience-targeting`.",
                    "example": [
                      [
                        []
                      ]
                    ],
                    "items": {
                      "type": "array",
                      "description": "",
                      "example": [
                        []
                      ],
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "page_targeting": {
                    "type": "array",
                    "description": "Page targeting rules. See `GET /schema/page-targeting`.",
                    "example": [
                      [
                        []
                      ]
                    ],
                    "items": {
                      "type": "array",
                      "description": "",
                      "example": [
                        []
                      ],
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "page",
                  "tracking_enabled",
                  "ga4_audience_id",
                  "variations",
                  "audience_targeting",
                  "page_targeting"
                ]
              }
            }
          }
        }
      }
    },
    "/papi/experiments/{experimentId}": {
      "get": {
        "summary": "Get experiment details",
        "operationId": "getExperimentDetails",
        "description": "Returns detailed information about a specific experiment including variations and targeting.\n\n**Required scope:** `experiment:show`",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": null,
                      "name": null,
                      "big_query_events_count": null,
                      "bigquery_report": null,
                      "bigquery_report_updated_at": null,
                      "cached_reports_count": null,
                      "created_at": null,
                      "ga4_audience_id": null,
                      "ga4_events_count": null,
                      "ga4_metrics_count": null,
                      "ga4_report": null,
                      "ga4_report_updated_at": null,
                      "url": null,
                      "slug": "",
                      "started_at": null,
                      "scheduled_start_date": null,
                      "scheduled_end_date": null,
                      "status": null,
                      "tracking_enabled": null,
                      "updated_at": null,
                      "variations_count": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": null
                        },
                        "big_query_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "cached_reports_count": {
                          "type": "string",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_audience_id": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_metrics_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "url": {
                          "type": "string",
                          "example": null
                        },
                        "slug": {
                          "type": "string",
                          "example": ""
                        },
                        "started_at": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_start_date": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_end_date": {
                          "type": "string",
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": null
                        },
                        "tracking_enabled": {
                          "type": "string",
                          "example": null
                        },
                        "updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "variations_count": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthenticated."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "This action is unauthorized."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This action is unauthorized."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Experiment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ]
      },
      "patch": {
        "summary": "Update experiment",
        "operationId": "updateExperiment",
        "description": "Updates an existing experiment's configuration, variations, and targeting rules.\n\n**Required scope:** `experiment:update`\n\nYou can update any combination of fields - only the provided fields will be modified.\n\n**Variations:** To update existing variations, include their `id`.\nTo create new variations, omit the `id` field.",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": null,
                      "name": null,
                      "big_query_events_count": null,
                      "bigquery_report": null,
                      "bigquery_report_updated_at": null,
                      "cached_reports_count": null,
                      "created_at": null,
                      "ga4_audience_id": null,
                      "ga4_events_count": null,
                      "ga4_metrics_count": null,
                      "ga4_report": null,
                      "ga4_report_updated_at": null,
                      "url": null,
                      "slug": "",
                      "started_at": null,
                      "scheduled_start_date": null,
                      "scheduled_end_date": null,
                      "status": null,
                      "tracking_enabled": null,
                      "updated_at": null,
                      "variations_count": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": null
                        },
                        "big_query_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "cached_reports_count": {
                          "type": "string",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_audience_id": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_metrics_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "url": {
                          "type": "string",
                          "example": null
                        },
                        "slug": {
                          "type": "string",
                          "example": ""
                        },
                        "started_at": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_start_date": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_end_date": {
                          "type": "string",
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": null
                        },
                        "tracking_enabled": {
                          "type": "string",
                          "example": null
                        },
                        "updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "variations_count": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "404": {
            "description": "Experiment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "422": {
            "description": "No data provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the experiment",
                    "example": "Updated Test Name"
                  },
                  "page": {
                    "type": "object",
                    "description": "Page configuration",
                    "example": [],
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "URL of the page",
                        "example": "http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html"
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  "tracking_enabled": {
                    "type": "boolean",
                    "description": "Whether tracking is enabled",
                    "example": false
                  },
                  "status": {
                    "type": "string",
                    "description": "Experiment status",
                    "example": "architecto"
                  },
                  "scheduled_start_date": {
                    "type": "string",
                    "description": "Start date (YYYY-MM-DD)",
                    "example": "2024-02-01"
                  },
                  "scheduled_end_date": {
                    "type": "string",
                    "description": "End date (YYYY-MM-DD)",
                    "example": "2024-03-01"
                  },
                  "scheduled_timezone": {
                    "type": "string",
                    "description": "Timezone for scheduled dates",
                    "example": "Europe/Berlin"
                  },
                  "variations": {
                    "type": "array",
                    "description": "Array of variations",
                    "example": [
                      []
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID of existing variation",
                          "example": 16
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the variation",
                          "example": "architecto"
                        },
                        "traffic_allocation": {
                          "type": "integer",
                          "description": "Traffic percentage (0-100)",
                          "example": 16
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "traffic_allocation"
                      ]
                    }
                  },
                  "audience_targeting": {
                    "type": "array",
                    "description": "Audience targeting rules. See `GET /schema/audience-targeting`.",
                    "example": [
                      [
                        []
                      ]
                    ],
                    "items": {
                      "type": "array",
                      "description": "",
                      "example": [
                        []
                      ],
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "page_targeting": {
                    "type": "array",
                    "description": "Page targeting rules. See `GET /schema/page-targeting`.",
                    "example": [
                      [
                        []
                      ]
                    ],
                    "items": {
                      "type": "array",
                      "description": "",
                      "example": [
                        []
                      ],
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "required": [
                  "page",
                  "tracking_enabled",
                  "status",
                  "variations",
                  "audience_targeting",
                  "page_targeting"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "experimentId",
          "description": "The ID of the experiment",
          "example": 456,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/papi/experiments/{experimentId}/status": {
      "post": {
        "summary": "Update experiment status",
        "operationId": "updateExperimentStatus",
        "description": "Changes the status of an experiment.\n\n**Required scope:** `experiment:update-status`\n\n**Available statuses:**\n- `draft` - Experiment is not running, can be edited freely\n- `active` - Experiment is running and collecting data\n- `paused` - Experiment is temporarily stopped\n- `completed` - Experiment has finished running\n- `archived` - Experiment is archived and hidden from default views",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": null,
                      "name": null,
                      "big_query_events_count": null,
                      "bigquery_report": null,
                      "bigquery_report_updated_at": null,
                      "cached_reports_count": null,
                      "created_at": null,
                      "ga4_audience_id": null,
                      "ga4_events_count": null,
                      "ga4_metrics_count": null,
                      "ga4_report": null,
                      "ga4_report_updated_at": null,
                      "url": null,
                      "slug": "",
                      "started_at": null,
                      "scheduled_start_date": null,
                      "scheduled_end_date": null,
                      "status": null,
                      "tracking_enabled": null,
                      "updated_at": null,
                      "variations_count": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": null
                        },
                        "big_query_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "cached_reports_count": {
                          "type": "string",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_audience_id": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_metrics_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "url": {
                          "type": "string",
                          "example": null
                        },
                        "slug": {
                          "type": "string",
                          "example": ""
                        },
                        "started_at": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_start_date": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_end_date": {
                          "type": "string",
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": null
                        },
                        "tracking_enabled": {
                          "type": "string",
                          "example": null
                        },
                        "updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "variations_count": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "404": {
            "description": "Experiment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New experiment status",
                    "example": "active"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "experimentId",
          "description": "The ID of the experiment",
          "example": 456,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/papi/experiments/{experimentId}/duplicate": {
      "post": {
        "summary": "Duplicate experiment",
        "operationId": "duplicateExperiment",
        "description": "Creates a copy of an existing experiment including all its variations, targeting rules, and configuration.\n\nThe duplicated experiment will be created in **draft** status regardless of the original experiment's status.\n\n**Required scope:** `experiment:duplicate`",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": null,
                      "name": null,
                      "big_query_events_count": null,
                      "bigquery_report": null,
                      "bigquery_report_updated_at": null,
                      "cached_reports_count": null,
                      "created_at": null,
                      "ga4_audience_id": null,
                      "ga4_events_count": null,
                      "ga4_metrics_count": null,
                      "ga4_report": null,
                      "ga4_report_updated_at": null,
                      "url": null,
                      "slug": "",
                      "started_at": null,
                      "scheduled_start_date": null,
                      "scheduled_end_date": null,
                      "status": null,
                      "tracking_enabled": null,
                      "updated_at": null,
                      "variations_count": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": null
                        },
                        "big_query_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report": {
                          "type": "string",
                          "example": null
                        },
                        "bigquery_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "cached_reports_count": {
                          "type": "string",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_audience_id": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_events_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_metrics_count": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report": {
                          "type": "string",
                          "example": null
                        },
                        "ga4_report_updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "url": {
                          "type": "string",
                          "example": null
                        },
                        "slug": {
                          "type": "string",
                          "example": ""
                        },
                        "started_at": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_start_date": {
                          "type": "string",
                          "example": null
                        },
                        "scheduled_end_date": {
                          "type": "string",
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": null
                        },
                        "tracking_enabled": {
                          "type": "string",
                          "example": null
                        },
                        "updated_at": {
                          "type": "string",
                          "example": null
                        },
                        "variations_count": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthenticated."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "This action is unauthorized."
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This action is unauthorized."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Experiment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          }
        },
        "tags": [
          "Experiments"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "experimentId",
          "description": "The ID of the experiment to duplicate",
          "example": 456,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/papi/experiments/{experimentId}/traffic-allocation": {
      "post": {
        "summary": "Update traffic allocation",
        "operationId": "updateTrafficAllocation",
        "description": "Updates the traffic allocation percentages for an experiment's variations.\n\nThe total allocation across all variations must not exceed 100%.\n\n**Required scope:** `experiment:update-traffic-allocation`",
        "parameters": [
          {
            "in": "header",
            "name": "X-Client-Id",
            "description": "",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": null,
                        "name": null,
                        "changesets": null,
                        "created_at": null,
                        "css": null,
                        "experiment_id": null,
                        "extensions": null,
                        "ga4_audience_id": null,
                        "javascript": null,
                        "javascript_reset": null,
                        "redirect_url": null,
                        "sequences_count": null,
                        "slug": "",
                        "traffic_allocation": null,
                        "updated_at": null
                      },
                      {
                        "id": null,
                        "name": null,
                        "changesets": null,
                        "created_at": null,
                        "css": null,
                        "experiment_id": null,
                        "extensions": null,
                        "ga4_audience_id": null,
                        "javascript": null,
                        "javascript_reset": null,
                        "redirect_url": null,
                        "sequences_count": null,
                        "slug": "",
                        "traffic_allocation": null,
                        "updated_at": null
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": null,
                          "name": null,
                          "changesets": null,
                          "created_at": null,
                          "css": null,
                          "experiment_id": null,
                          "extensions": null,
                          "ga4_audience_id": null,
                          "javascript": null,
                          "javascript_reset": null,
                          "redirect_url": null,
                          "sequences_count": null,
                          "slug": "",
                          "traffic_allocation": null,
                          "updated_at": null
                        },
                        {
                          "id": null,
                          "name": null,
                          "changesets": null,
                          "created_at": null,
                          "css": null,
                          "experiment_id": null,
                          "extensions": null,
                          "ga4_audience_id": null,
                          "javascript": null,
                          "javascript_reset": null,
                          "redirect_url": null,
                          "sequences_count": null,
                          "slug": "",
                          "traffic_allocation": null,
                          "updated_at": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": null
                          },
                          "name": {
                            "type": "string",
                            "example": null
                          },
                          "changesets": {
                            "type": "string",
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "example": null
                          },
                          "css": {
                            "type": "string",
                            "example": null
                          },
                          "experiment_id": {
                            "type": "string",
                            "example": null
                          },
                          "extensions": {
                            "type": "string",
                            "example": null
                          },
                          "ga4_audience_id": {
                            "type": "string",
                            "example": null
                          },
                          "javascript": {
                            "type": "string",
                            "example": null
                          },
                          "javascript_reset": {
                            "type": "string",
                            "example": null
                          },
                          "redirect_url": {
                            "type": "string",
                            "example": null
                          },
                          "sequences_count": {
                            "type": "string",
                            "example": null
[...]
